@page "/computer-grid"
@inherits ComputerGridBase;

@using BattleShip.Models
@using BattleShip.UI.Service.Contracts

<div class="row justify-content-center">
<h2 class="row justify-content-center">Enemy Fleet</h2>
<br /><br />
<div class="row">
        <div class="col-md-6 row justify-content-end">
            <table class="table table-bordered" style="width:500px; height:500px; border-collapse: collapse;">
                @for (int i = 0; i < 10; i++)
                {
                    <tr style="height: calc(100% / 10);">
                        @for (int j = 0; j < 10; j++)
                        {

                            ShipDto? selectedShip = AllShipsDemo?.FirstOrDefault(ship =>
                            ship.CoveringAera.Any(node => node.RowValue == i && node.ColValue == j));

                            String position = i.ToString() + "," + j.ToString();

                            @if (selectedShip != null)
                            {
                                @if (selectedShip.CoveringAera.Any(x => (x.IsHit == true) && (x.RowValue == i) && (x.ColValue == j)))
                                {
                                    <td @onclick="() => HandleClick(position)"
                                        class="blast-effect"
                                        style="width: calc(100% / 10); border: 1px solid black; background-color:red">
                                        <span id="shipInfo" hidden="hidden">@i;@j;@selectedShip.Name;</span>
                                        @* <span id="shipInfo">@i;@j;@selectedShip.Name;</span> *@
                                    </td>
                                }
                                else
                                {
                                    <td @onclick="() => HandleClick(position)"
                                        style="width: calc(100% / 10); border: 1px solid black; background-color:lightblue">

                                        <span id="shipInfo" hidden="hidden">@i;@j;@selectedShip.Name;</span>
                                        @* <span id="shipInfo">@i;@j;@selectedShip.Name;</span> *@
                                    </td>
                                }
                            }
                            else
                            {
                                if (MissedTargets.Count == 0)
                                {
                                    <td @onclick="() => HandleClick(position)"
                                        style="width: calc(100% / 10); border: 1px solid black; background-color:lightblue">

                                        <span id="shipInfo" hidden="hidden">@i;@j;N</span>
                                        @* <span id="shipInfo">@i;@j;N</span> *@
                                    </td>
                                }
                                else
                                {
                                    if (MissedTargets.Any(x => x.Item1 == i && x.Item2 == j))
                                    {
                                        <td @onclick="() => HandleClick(position)"
                                            class="blast-effect"
                                            style="width: calc(100% / 10); border: 1px solid black; background-color:forestgreen">
                                            <span id="shipInfo" hidden="hidden">@i;@j;N</span>
                                            @*<span id="shipInfo">@i;@j;N</span> *@
                                        </td>
                                    }
                                    else
                                    {
                                        <td @onclick="() => HandleClick(position)"
                                            style="width: calc(100% / 10); border: 1px solid black; background-color:lightblue">
                                            <span id="shipInfo" hidden="hidden">@i;@j;N</span>
                                            @* <span id="shipInfo">@i;@j;N</span> *@
                                        </td>
                                    }
                                }
                            }
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-4">          
            <table class="table table-bordered" style=" border-collapse: collapse;">
                <thead>
                    <tr style="text-align:center"><th>Ship</th><th>Total Hits</th><th>Status</th></tr>
                </thead>
                <tbody>
                    <tr><td>BattleShip</td><td>@AllHits["BattleShip"].ToString()/5</td><td>@BattleShipStatus</td></tr>
                    <tr><td>Distroyer 1</td><td>@AllHits["Distroyer_1"].ToString()/2</td><td>@Distroyer_1Status</td></tr>
                    <tr><td>Distroyer 2</td><td>@AllHits["Distroyer_2"].ToString()/2</td><td>@Distroyer_2Status</td></tr>
                    <tr><td style="font-size:larger">Score</td><td colspan="2" style="color:darkred;font-size:larger;text-align:center"><span>@Marks</span></td></tr>
                </tbody>               
            </table>
        </div>
</div> 
</div>
